@import "tailwindcss";
@import "tw-animate-css";

.homepage {
  overflow-y: hidden;
}

@keyframes glow {
  0%   { opacity: 0.4; transform: scale(0.92); }
  50%  { opacity: 1;   transform: scale(1); }
  100% { opacity: 0.4; transform: scale(0.92); }
}

.animate-glow {
  animation: glow 6s ease-in-out infinite;
}


@keyframes textGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-text-gradient {
  background: linear-gradient(90deg, #ff9a9e, #fad0c4, #ffd6a5, #fbc2eb);
  background-size: 300% 300%;
  
  background-clip: text;
  
  -webkit-background-clip: text;
  
  color: transparent;
  -webkit-text-fill-color: transparent;
  
  animation: textGradient 6s ease infinite;
}


@keyframes goldGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gold-gradient {
  background: linear-gradient(
    90deg,
    #d3aa59,  
    #fff3a1,  
    #f2c94c,  
    #f2dd6a,  
    #d3aa59   
  );
  background-size: 400% 400%;  


  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: goldGradient 5s ease-in-out infinite;
}
